<div id="app">
  <div class="container">
    <h1>Vue.js Form Validation</h1>
    <div class="form-group">
      <label for="email">
        メールアドレス
        <small>※必須、半角英数のみ</small>
      </label>
      <input type="text" id="email" v-model="email">
      <p class="error" v-if="error.email">{{ error.email }}</p>
    </div>
    <div class="form-group">
      <label for="username">
        ユーザー名
        <small>※必須、半角英数のみ</small>
      </label>
      <input type="text" id="username" v-model="username">
      <p class="error" v-if="error.username">{{ error.username }}</p>
    </div>
  </div>
</div>

  <link rel="stylesheet" href="stylesheet.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://unpkg.com/vue"></script>
  <script src="app.js"></script>